# Simple workflow for deploying static content to GitHub Pages
name: Build documentation

on:
  workflow_call:
  push:
    branches:
      - "!main"
      - "**"
  pull_request:
    branches:
      - "main"

jobs:
  build-docs:
    runs-on: ubuntu-latest
    container: ghcr.io/fenics/dolfinx/lab:nightly

    env:
      PYVISTA_OFF_SCREEN: true
      PYVISTA_JUPYTER_BACKEND: "html"
      DISPLAY: ":99.0"
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Install dependencies
        run: |
          python3 -m pip install -r requirements-docs.txt

      - name: ruff check and format
        run: |
          ruff check .
          ruff format --check .

      - name: Build book
        run: jupyter book build -W .
      
      - name: Upload documentation as artifact
        uses: actions/upload-artifact@v4
        with:
          name: webpage
          path: _build/html
          if-no-files-found: error
